

header, .top, footer{
    background-color: #1f2937;
    padding-left: 20%;
    padding-right: 20%;
       
}


h1{
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 10px;
    font-weight: bolder;
}

h2{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    
}

header>div, div>p{
    font-size: 18px;
    color: #f9faf8;
}

.logo{
    font-size: 24px;
    flex: 1;

}

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    
}

header{
    display: flex;
}

.links{
    display: flex;
    
}

.links > div{
    padding: 5px 10px;
}

.top{
display: flex;
justify-content: space-between;

padding-top: 40px;
padding-bottom: 80px;
}

.left{
    width: 50%;
}



a{
   text-decoration: none;
   color: #f9faf8;
   background-color: #3882f6;
   padding: 5px 10px;
   border-radius: 5px;
}


.cardsection{
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    flex-wrap: wrap;
}


.card{
    width: 225px;
}

.cardtext, .cardtitle{
    padding-left: 10px;
}

.cardtitle{
    text-align: center;
    margin: 5px;
}

.quote {
    padding: 100px 30%;
    background-color:  #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.quote > div{
   
    font-size: 24px;
    color: #1f2937;
    font-weight: bolder;
    text-align: end;
}
.cta{
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    margin: 50px 20%;
    border-radius: 5px;
    color: #e5e7eb;
}

.ctaheadline{
    font-size: 24px;
    font-weight: bolder;

}

.ctasubtext{
    color: #e5e7eb;
}

.signup{
    border:solid #e5e7eb 2px;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: bold;
}

footer{
    padding: 30px;
    text-align: center;
    color: #e5e7eb;
    align-items: center;
}